<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <form class="flight-booking-form">

        <div>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Source</mat-label>
            <input #source (keyup)="filterBySource(source.value.trim())" matInput placeholder="Ex. Kolkata" value="">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Destination</mat-label>
            <input #destination (keyup)="filterByDestination(destination.value.trim())" matInput placeholder="Ex. New Delhi" value="">
          </mat-form-field>
        </div>


        <div>
          <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker2">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>

        <div>
          <button mat-raised-button color="primary">Submit</button>
        </div>

      </form>

      <!-- child component -->
      <!-- <app-flight-search></app-flight-search> -->
      <!-- Search Bar -->
      <p>
        <input #query (keyup)="filter(query.value)" type="text" class="form-control mt-3"
          placeholder="Search by airline...">
      </p>

      <!---datatble starts -->
      <table datatable [dtOptions]="dtOptions" class="row-border hover">
        <thead>
          <tr>
            <th></th>
            <th>Airline</th>
            <th>Source</th>
            <th>Destination</th>
            <th>Departure Date</th>
            <th>Departure Time</th>
            <th>Arrival Date</th>
            <th>Arrival Time</th>
            <th>Price</th>
            <th></th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let flight of filteredFlights">
            <td> <img class="airline-logo" src={{flight.imgURL}}></td>
            <td>{{flight.airline}}</td>
            <td>{{flight.source}}</td>
            <td>{{flight.destination}}</td>
            <td>{{flight.deptDate}}</td>
            <td>{{flight.deptTime}}</td>
            <td>{{flight.arrDate}}</td>
            <td>{{flight.arrTime}}</td>
            <td>&#8377;{{flight.price}}</td>
            <td>
              <button mat-raised-button color="warn" [routerLink]="'/booking/'+flight.flightId">Book</button>
            </td>
            <!-- <td><a [routerLink]="['/admin/products/', product.key]">Edit</a></td> -->
          </tr>

        </tbody>
      </table>

      <!-- child ends -->
    </div>
  </div>
</div>
