<div class="container mt-4">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <mat-card class="card">
            <mat-card-content>
                <img src="{{flight?.imgURL}}" alt="Photo of a Shiba Inu">
              <mat-card-title class="mt-3">{{ flight?.airline  }}</mat-card-title>
              <mat-card-subtitle>{{ flight?.deptTime }} </mat-card-subtitle>
              <mat-card-subtitle>Product code : {{ flight?.arrTime }} </mat-card-subtitle>
              <p>
                {{ flight?.price }}
              </p>
              <button>Confirm</button>
            </mat-card-content>
          </mat-card>
      </div>
    </div>
  </div>