/* .dataTables_wrapper .dataTables_filter {
    float: right;
    text-align: right;
    display: none !important;
} */

/* .dataTables_filter {
    display: none;
    } */

.airline-logo{
    height: 1.5rem;
}